body {
    font-family: "Inter", Sans-serif;
	margin: 0;
	overflow: hidden;
}

canvas{
    max-width: 100% !important;
    max-height: fit-content !important;
}

.triggers {
	bottom: 20px;
	color: white;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
	width: 100%;
	z-index: 10;
	display:none;

	span {
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		margin: 0 20px;
		padding: 2px 4px;
		transition: opacity 0.5s, color 0.5s;

		&[data-disabled="true"] {
			opacity: 0.3;
			pointer-events: none;
		}
		&:hover {
			color: red;
		}
	}
}